body {
}

.firstStyle{
    color:red;
    background-color:aqua;
}

.secondStyle{
    color:forestgreen;
    background-color: indianred;
}

div h2{
    color:orange;
}

h1.secondStyle.otherStyle{
    font-size: 50px;
}

.otherStyle{
    font-family:Calibri;
}

.firstWords{
    text-decoration: underline;
}